@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PT\ Sans\ Narrow.ttf') format(truetype);
    font-style: normal;
    font-size: normal;
}

@font-face {
    font-family: "Cuprum-Bold";
    src: url('../fonts/Cuprum-Bold.ttf') format(truetype);
    font-style: normal;
    font-size: normal;
}

@font-face {
    font-family: "Cuprum-Regular";
    src: url('../fonts/Cuprum-Regular.ttf') format(truetype);
    font-style: normal;
    font-size: normal;
}

@font-face {
    font-family: "Cuprum-BoldItalic";
    src: url('../fonts/Cuprum-BoldItalic.ttf') format(truetype);
    font-style: normal;
    font-size: normal;
}

@font-face {
    font-family: "Cuprum-Italic";
    src: url('../fonts/Cuprum-Italic.ttf') format(truetype);
    font-style: normal;
    font-size: normal;
}

/* Visualy Hidden CSS */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

/* * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-width: 1200px;
    min-height: 1300px;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    font-family: "Cuprum", "Arial", sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Cuprum", "Arial", sans-serif;
}

p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.main-wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;  
}

.container {
    /* margin: 0 10px; */
    width: 940px;
    margin: 0 auto;    
}

a {
    text-decoration: none;  
}

.button {
    display: block;
    background: rgb(238, 54, 67);
    border-radius: 3px;
}

.button:hover {
    background: rgb(202, 44, 55);
}

.button:active {
    background: rgb(186, 39, 50);
}


/* ==========================================================================
 *  Header 
 * ========================================================================== */


 .main-header .subtitle {
    width: auto;
    background-color: rgb(41, 52, 73);
    height: 42px;
}

.subtitle .index-logo a { 
    float: left;
    width: 220px;
    margin-right: 10px;    
    background-color: rgb(238, 54, 67);
    border-bottom: 5px solid rgb(181, 41, 51);
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 9px 0;
}

.subtitle .index-logo a:hover {
    background: rgb(202, 44, 55);
}

.subtitle .index-logo a:active {
    background: rgb(186, 39, 50);
}

.subtitle .row a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 17px;
}

.subtitle .search {
    float: left;
    position: relative;
}

.subtitle .search form input {
    font-family: "Cuprum", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 18px;
    font-weight: 100;
    background: inherit;
    padding: 20px 0 20px 40px;
    border: none;
    width: 270px;
    height: 42px;
}

.subtitle .search form input:focus {
    background: rgb(255, 255, 255);   
    color: rgb(0, 0, 0);
}

/* .subtitle .search form input:focus ::before {
    content: "";
    background: url("../img/icon-search18-18red.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 18px;
    height: 18px;
} */

.subtitle .search::before {
    content: "";
    background: url("../img/icon-search18-18grey.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 18px;
    height: 18px;
}

.subtitle .search:hover::before {
    content: "";
    background: url("../img/icon-search18-18white.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 18px;
    height: 18px;
}


.subtitle .tabs {
    float: left;
    width: 120px;
    margin-right: 20px;
    position: relative;
}

.subtitle .tabs::before {
    content: "";
    background: url("../img/icon-tab-grey.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 16px;
    height: 16px;
    opacity: 0.5;
}

.subtitle .tabs a,
.subtitle .basket a,
.subtitle .checkout a {
    display: block;
    width: 130px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    padding-left: 20px;
}


.subtitle .basket a:hover,
.subtitle .tabs a:hover {
    background: rgb(33, 42, 58);
}

.subtitle .basket a:hover,
.subtitle .tabs a:hover {
    background: rgb(33, 42, 58);
}

.subtitle .basket a:hover:active,
.subtitle .tabs a:hover:active {
    background: rgb(22, 29, 41);
    color: rgba(255, 255, 255, 0.5);
}

.subtitle .basket {
    float: left;
    width: 130px;
    margin-right: 10px;
    position: relative;
}

.subtitle .basket::before {
    content: "";
    background: url("../img/icon-bascket-1.png") no-repeat;
    position: absolute;
    top: 12px;
    left: 7px;
    width: 17px;
    height: 17px;
    opacity: 0.5;
}

.subtitle .checkout {
    float: left;
    width: 160px;
    background-color: rgb(99, 166, 62);
}

.subtitle .checkout a {
    padding: 0;
    width: 160px;
}

.subtitle .checkout a:hover {
    background-color: rgb(95, 187, 45);
}

.subtitle .checkout a:active {
    opacity: 0.5;
}

.main-header .page-header {
    padding: 46px 0 62px 0;
    height: 278px;
    background-color: rgb(243, 247, 248);
    margin-bottom: 59px;
}

.page-header .description {
    float: left;
    width: 200px;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: rgb(238, 54, 67);
    margin: 2px 67px 0 53px;
}

.page-header .contacts {
    float: left;
    width: 271px;
    margin: 0 68px 0 0;  
}

.page-header .contacts .tel {
    height: 45px;
    width: 271px;
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
}

.page-header .tel a {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    color: rgb(238, 54, 67);
    font-size: 21px;
    line-height: 18px;
    padding:  10px 40px 10px 60px; 
    font-weight: 100;
}

.page-header .adress {
    font-family: "Cuprum", Arial, sans-serif;
    color: rgb(50, 66, 92);
    font-size: 14px;
    line-height: 24px;
    width: 271px;
    padding: 3px 0 0 10px;   
}

.page-header .user-block {
    float: left;
    width: 281px;
}

.page-header .user-block a {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 45px;
    text-align: center;
}

.page-header .user-block a:first-child {
    float: left;
    width: 121px;
    margin-right: 10px; 
    padding: 0 0 0 20px;
}

.page-header .user-block a:last-child {
    float: left;
    width: 150px;
}

/* Nav Menu */

.page-header .main-navigation {
    width: 940px;
    margin-top: 112px;
    background: rgb(50, 66, 92);
    border-bottom: 5px solid rgb(41, 52, 73);
}

.page-header .main-navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-left: 20px;
}

.page-header .main-navigation li {
    display: inline-block;
    margin: 0 0 0 0px;
}

.page-header .main-navigation li:nth-child(3),
.page-header .main-navigation li:nth-child(5) {
    margin: 0 0 0 0;
}

.page-header .main-navigation a {
    display: block;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 17px;
    font-weight: 100;
    padding: 20px 31px;
}

.page-header .main-navigation a:hover {
    background: rgb(41, 52, 73);
}

.page-header .main-navigation a:active {
    opacity: 0.8;
}

/* END Nav Menu */


/* ============= /END Header ============================================================= */


/* ==========================================================================
 *  Main 
 * ========================================================================== */


/* Main Menu */

.main-menu {
    font-size: 0;
    margin-bottom: 33px;
}

.main-menu .main-menu-item {
    display: inline-block;
    width: 300px;
    height: 123px;
    position: relative;
    margin: 0 0 20px 0;
}

.main-menu-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color:  rgb(255, 255, 255);
    padding: 0 0 0 22px;
}

.main-menu-item .button {
    font-size: 14px;
    line-height: 38px;
    font-weight: 100;
    color:  rgb(255, 255, 255);
    width: 135px;
    height: 38px;
    position: absolute;
    bottom: 22px;
    left: 24px;
    text-transform: uppercase;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 2px;
    text-align: center;
}

.main-menu-item .button:hover {
    background: rgba(128, 128, 128, 0.5);
}

.main-menu-item .button:active {
    background: rgba(128, 128, 128, 0.8);
}

.main-menu .materials {
    background: rgb(255, 191, 71);
    margin: 0 20px 20px 0;
    position: relative;
}

.main-menu .materials::before {
    content: "";
    background: url("../img/new.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
}

.main-menu .instruments {
    background: rgb(59, 188, 227);
    margin: 0 20px 20px 0;
}

.main-menu .technique {
    background: rgb(220, 145, 216);
}

.main-menu .discounts {
    background: rgb(142, 215, 143);
}

.main-menu .delivery {
    background: rgb(255, 191, 71);
}

.main-menu .main-menu-slider {
    float: left;
    width: 620px;
    height: 266px;
    margin: 0 20px 0 0;
    position: relative;
}

.main-menu-slider .button {
    position: absolute;
    width: 195px;
    height: 39px;
    padding: 10px 45px 10px 49px;
    text-transform: uppercase;
    bottom: 21px;
    left: 26px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    color:  rgb(255, 255, 255);
}

.main-menu-slider .prev-img {
    position: absolute;
    top: 116px;
    left: 25px;
}

.main-menu-slider .next-img {
    position: absolute;
    top: 116px;
    right: 25px;
}

.main-menu-slider .active-dot {
    position: absolute;
    bottom: 37px;
    left: 295px;
}

.main-menu-slider .nonactive-dot {
    position: absolute;
    bottom: 37px;
    right: 295px;
}

/* END Main Menu */

/* Content Goods */

.popular-produsers .popular-produsers-title,
.popular-goods .popular-goods-title {
    background: rgb(249, 245, 240);
    height: 88px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.popular-produsers-title h2,
.popular-goods-title h2,
.catalog-title h2 {
    color: rgb(50, 66, 92);
    line-height: 30px;
    padding: 30px 0 0 25px;
    text-transform: uppercase;
}

.popular-produsers-title .button,
.popular-goods-title .button {
    position: absolute;
    width: 253px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    bottom: 25px;
    right: 24px;
    font-size: 14px;
    line-height: 38px;
    font-weight: 100;
    color:  rgb(255, 255, 255);  
}

.popular-goods-items,
.catalog-goods-items {
    font-size: 0px;
    margin: 0 -10px 24px -10px;
}

.popular-goods-items .good-item {
    display: inline-block;
    width: 220px;
    height: 318px;
    margin: 0 10px 0 10px;
    border: 1px solid rgb(234, 234, 234);
    vertical-align: top;
    position: relative;    
}

.popular-goods-items .good-item:hover {
    box-shadow: 0 -10px 30px -20px;
    border: 0;
}

.catalog-goods-items .good-item:hover {
    box-shadow: 0 -10px 30px -20px;
    border: 0;
}

.good-item-img {
    width: 220px;
    height: 179px;
    position: relative;
    overflow: hidden;
}

.good-item-img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .good-item img[width="184"] {
    padding: 0 19px 0 17px;
    margin-top: 5px;
}

.good-item img[width="144"] {
    padding: 0 49px 0 40px;
    margin-top: 20px;
}

.good-item img[width="127"] {
    padding: 9px 53px 0 46px;
    margin-top: 18px;
}

.good-item:last-of-type img {
    padding: 9px 53px 0 51px;
    margin-top: 18px;
} */

.good-item h2 {
    color: rgb(50, 66, 92);
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
}

.good-item h3>a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}

.good-item p {
    font-style: "PT Sans", "Arial", sans-serif;
    line-height: 18px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.good-item .old-price {
    color: rgb(169, 169, 169);
    margin: 10px 0 12px 0;
    height: 38px;
    margin: 10px 0 -20px 0;
}

.good-item .price {
    background: rgb(238, 54, 67);
    width: 123px;
    height: 38px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 12px 42px;
    line-height: 38px;
}

.popular-goods-items .new::before {
    content: "";
    background: url("../img/new.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
}

/* END Content Goods */

/* Content Produsers */

.popular-produsers-title {
    margin: -3px 0 20px 0;
}

.popular-produsers-items {
    font-size: 0px;
    margin: -10px -10px 75px -10px;
}

.produser-item {
    display: inline-block;
    width: 220px;
    height: 145px;
    border: 1px solid rgb(234, 234, 234);
    margin: 10px;
    vertical-align: top;
    font-size: 0px;
    position: relative;
}

.popular-produsers-items .produser-item:hover {
    box-shadow: 0 10px 30px -20px;
    border: 0;
}

.popular-produsers-items .produser-item:active {
    opacity: 0.3;
    border: 0;
}

.produser-item img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END Content Produsers */

/* Service */

.page-header-wrapper,
.service-wrapper,
.catalog-discription-wrapper {
    background: rgb(244, 248, 249);
}


.service {
    padding: 69px 0 0 0;
    background-color: rgb(244, 248, 249);
    min-height: 522px;
    margin-bottom: 58px;
}

.service h2 {
    margin: 0 0 28px 0;
}

.service-title+p,
.service-description-title+p {
    margin: 13px 0 -13px 0;
}

.service-content {
    position: relative;
    padding: 60px 0 0 0;
}

.service-list {
    margin: 0 80px 0 0;
    float: left;
    width: 240px;
    padding: 0;
    position: relative;
}

.service-content::after {
    content: "";
    background: url("../img/line.png") no-repeat;
    position: absolute;
    top: 0px;
    left: 230px;
    width: 10px;
    height: 272px;
    z-index: 100;
}

.service-list li {
    list-style: none;
}

.service-list li a {
    display: block;
    text-decoration: none;
    width: 240px;
    height: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 66, 92);
    /* color: rgb(50, 66, 92); */
    /* background-color: rgb(255, 255, 255); */
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    padding: 12px 0 0 23px;
    border-bottom: 1px solid rgb(77, 98, 123);
}

.service-list .service-delivery-list a {
      color: rgb(50, 66, 92);
    background-color: rgb(255, 255, 255);
}

.service-list li:hover a {
    background-color: rgb(41, 52, 73);
    color: rgb(255, 255, 255);
}

.service-list a:active {
    color: rgb(50, 66, 92);
    background-color: rgb(255, 255, 255);
}

.service-delivery {
    display: block;
}

.service-guarantee {
    display: none;
}

.service-credit {
    display: none;
}

.service-credit .button {
    width: 195px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    font-weight: 100;
    color:  rgb(255, 255, 255); 
    background: rgb(255, 83, 77);
}

.service-description {
    float: left;
    width: 275px;
}

.service-description h3 {
    margin-top: 0;
    font-size: 36px;
    line-height: 24px;
    color: rgb(50, 66, 92);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.service-img {
    position: absolute;
    right: 2px;
    top: 80px
}

/* END Service */

/* About Us */

.about-us {
    margin-bottom: 86px;
}

.about-us-left {
    float: left;
    margin-right: 100px
}

.about-us-title {
    margin-bottom: 28px;      
}

.about-us-left-slogan {
    width: 540px;
    margin-bottom: 25px; 
}

.about-us-left-delivery-companies {
    width: 400px;
    margin-bottom: -4px; 
}

.delivery-companies-list {
    padding-left: 35px;
    margin-bottom: 27px;
}

.delivery-companies-list li {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0 10px 0;
}

.about-us-right .button,
.about-us-left .button {
    width: 220px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    font-weight: 100;
    color:  rgb(255, 255, 255);  
}

.about-us-right img {
    margin-bottom: 35px;
}
.about-us-right .button {
    width: 300px;
}

.about-us-right {
    width: 300px;
    float: left;
}

.about-us-right p {
    width: 185px;
    margin-bottom: 30px;
}

/* END About Us */

/* Catalog Content */

.breadcrumbs {
    margin-top: -49px;
}

.breadcrumbs ul {
    margin: 67px 0 -8px 0;
    padding-left: 0;
    position: relative;
}

.breadcrumbs li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 15px;
}

.breadcrumbs li a {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.breadcrumbs ul li:first-child a {
    display: block;
    width: 15px;
    height: 14px;
    font-size: 0;
    padding: 0;
    background: url("../img/icon-house15-14.png") no-repeat 50% 50%;
}

.catalog-title {
    height: 90px;
    width: 940px;
    background: rgb(242, 246, 248);
    margin-bottom: 20px;
}

.catalog-title h2 {
    padding: 30px 0 0 30px;
}

.catalog-content-wrapper {
    float: left;
    width: 700px;
}

.catalog-row,
.catalog-sidebar-title {
    float: left;
    height: 37px;
    width: 700px;
    background: rgb(247, 243, 236);
    margin-bottom: 20px;
}

.catalog-sidebar-title {
    width: 220px;
    margin-right: 20px;
}

.breadcrumbs li a,
.catalog-row h3,
.catalog-sidebar-title h3,
.catalog-row .sort li a {
    font-style: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.catalog-row .sort {
    width: 520px;
    margin: 0;
    font-size: 0;
    position: relative;
}

.catalog-sidebar-title h3,
.catalog-row h3 {
    float: left;
    width: 120px;
    margin-right: 100px;
    padding: 0 0 0 20px;
    line-height: 37px;
    margin: 0;
}

.catalog-row h3 {
    margin-right: 50px;
}

.catalog-row .sort {
    float: left;
}
 

.catalog-row .sort li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.catalog-row .sort li a {
    display: block;
    color: rgb(176, 176, 176);
    text-decoration: underline dotted red;
    width: 100px;
    text-align: center;
    line-height: 37px;
    margin: 0 10px;
}

.catalog-row .sort li:nth-child(4) a,
.catalog-row .sort li:nth-child(5) a {
    font-size: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    background: url("../img/triangle\ 12-12grey.png");
    position: absolute;
}

.catalog-row .sort li:nth-child(4) a {
   top: 10px;
   right: 40px;
}

.catalog-row .sort li:nth-child(5) a {
    transform: rotate(180deg); 
    top: 10px;
    right: 10px;
 }

.catalog-row .sort li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline solid red;
 }

.catalog-row .sort li a:active {
    color: rgb(238, 54, 67);
    text-decoration: none;
 }

.catalog-row .sort li:nth-child(4) a:hover,
.catalog-row .sort li:nth-child(5) a:hover {
    background: url("../img/triangle\ 12-12black.png");
}

.catalog-row .sort li:nth-child(4) a:active,
.catalog-row .sort li:nth-child(5) a:active {
    background: url("../img/triangle\ 12-12.png");
}

.catalog-goods-items {
    padding-bottom: 10px;
}

.catalog-goods-items .good-item {
    display: inline-block;
    width: 220px;
    height: 316px;
    margin: 0 10px 20px 10px;
    border: 1px solid rgb(234, 234, 234);
    vertical-align: top;
    position: relative;
}

.catalog-goods-items .good-item:hover {
    box-shadow: 0 10px 30px -20px;
}

.catalog-goods-items .new::before {
    content: "";
    background: url("../img/new.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
}

.good-item .links {
    opacity: 0;
}

.good-item .links .link-bay,
.good-item .links .link-tips {
    display: block;
    width: 135px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    position: absolute;
}

.good-item .links .link-bay {
    color: rgb(255, 255, 255);
    line-height: 35px;
    background: rgb(99, 166, 62);
    box-shadow: 0 4px 0 0px rgb(54, 115, 21);
    top: 42px;
    left: 42px;
}

.good-item .links .link-bay::before {
    content: "";
    background: url("../img/icon-bascket-1.png") no-repeat;
    position: absolute;
    top: 11px;
    left: 15px;
    width: 17px;
    height: 17px;
    opacity: 0.5;
}

.good-item .links .link-bay:hover {
    background-color: rgb(95, 187, 45);
}

.good-item .links .link-bay:active {
    background-color: rgb(81, 133, 52);
    line-height: 38px;
    box-shadow: none;
}

.good-item .links .link-tips {
    color: rgb(50, 66, 92);
    line-height: 30px;
    border: 4px solid rgb(99, 166, 62);
    top: 87px;
    left: 42px;
}

.good-item .links .link-tips:hover {
    border: 4px solid rgb(50, 66, 92);
}

.good-item .links .link-tips:active {
    border: 4px solid rgb(50, 66, 92);
    opacity: 0.5;
}

.good-item:hover .links {
    opacity: 1;
}

.good-item:hover .good-item-img {
    opacity: 0;
}

.catalog-description {
    padding-top: 45px;
    padding-bottom: 58px;
}

.catalog-content .paginator a {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(229, 229, 229);
    text-align: center;
    font-style: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 13px;
    line-height: 38px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 100;
    border-radius: 3px;
    margin-bottom: 60px;
    margin-right: 5px;
}

.catalog-content .paginator a.next-page {
    width: 140px;
}

.catalog-content .paginator a.active-page {
    background-color: rgb(238, 54, 67);
    color: rgb(255, 255, 255);
}

.catalog-content .paginator a:hover {
    border: 1px solid rgb(189, 198, 202);
}

.catalog-content .paginator a:active {
    border: 1px solid rgb(238, 55, 68);
}



/* End Catalog Content */

/* Catalog Sidebar */

.catalog-sidebar {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.catalog-sidebar-content legend h3 {
    font-style: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.catalog-sidebar-content fieldset {
    width: 220px;
    margin: 0;
}


/* END Catalog Sidebar */

/* ============= /END Main ============================================================= */


/* ==========================================================================
 *  Footer
 * ========================================================================== */

 .bottom-container-wrapper {
     background:rgb(41, 52, 73)
 }

 .top-container-wrapper {
     background: rgb(50, 66, 92);
 }

 .main-footer .top-container {
    /* height: 190px; */
    padding-bottom: 52px;
}

.top-container-left {
    float: left;
    width: 390px;
}

.top-container-right {
    float: right;
    width: 550px;
}

.footer-index-logo a {
    display: block;
    width: 220px;
    height: 68px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 63px;
    font-weight: 100;
    background-color: rgb(238, 54, 67);
    border-bottom: 5px solid rgb(181, 41, 51);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.footer-index-logo a:hover {
    background: rgb(202, 44, 55);
}

.footer-index-logo a:active {
    background: rgb(186, 39, 50);
}
.footer-contacts {
    float: left;
    width: 335px;
}

.footer-contacts p {
    color: rgb(243, 247, 249);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    margin: 26px 0 0 4px;
}

.footer-top-navigation ul,
.footer-bottom-navigation ul {
    margin: 0;
    padding: 0;
    margin-top: 37px;
    width: 550px;
    font-size: 0px;
    text-align: right;
}

.footer-top-navigation li,
.footer-bottom-navigation li {
    display: inline-block;
    margin: 0 59px 0 0;
}

.footer-top-navigation li:last-child,
.footer-bottom-navigation li:last-child {
    margin: 0;
}

.footer-bottom-navigation ul:last-child {
    margin: 27px 0 0 0;
}

.footer-top-navigation a,
.footer-bottom-navigation a {
    color: rgb(255, 255, 255);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-align: right;
}

.footer-top-navigation a:hover,
.footer-bottom-navigation a:hover {
    text-decoration: underline;
}

.footer-top-navigation a:active,
.footer-bottom-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom-navigation a {
    color: rgb(224, 186, 121);
}

.footer-copyright {
    margin-right: 20px;
}

.footer-copyright,
.footer-social,
.footer-link {
    float: left;
    width: 300px;
    font-size: 0;
}

.footer-copyright p,
.footer-link p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin: 37px 0 0 0px;
}

.footer-link .feedback,
.footer-link .developed {
    display: inline-block;
    width: 140px;
}

.footer-link .developed {
    padding-left: 49px;
}

.footer-link a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: rgb(224, 186, 121);
    font-weight: bold;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-link a:active {
    text-decoration: none;
    color: rgb(238, 54, 67);
}

.footer-social {
    margin-right: 20px;
    padding-left: 76px;
}

.footer-social a {
    display: inline-block;
    font-size: 0;
    height: 42px;
    width: 42px;
    background: rgb(33, 42, 58); 
    border-radius: 50%;
    opacity: 1;         
    margin-top: 35px; 
    vertical-align: middle;    
    position: relative;
  }

.footer-social .social-button-vk {
      background: rgb(33, 42, 58) url("../img/icon-vk\ 28-16\ .png") no-repeat 50% 50%;
  }

.footer-social .social-button-vk:hover,
.footer-social .social-button-vk:active {
    background-color: rgb(238, 54, 67);
  }

.footer-social .social-button-fb {
    background: rgb(33, 42, 58) url("../img/icon-fb\ 14-25.png") no-repeat 50% 50%;
}

.footer-social .social-button-fb:hover,
.footer-social .social-button-fb:active {
    background-color: rgb(238, 54, 67);
  }

  .footer-social .social-button-inst {
    background: rgb(33, 42, 58) url("../img/icon-inst\ 23-23.png") no-repeat 50% 50%;
}

.footer-social .social-button-inst:hover,
.footer-social .social-button-inst:active {
    background-color: rgb(238, 54, 67);
  }


/* ============= /END Footer ============================================================= */



/* Комменты ОБЯЗАТЕЛЬНО, формат -  */


/* ==========================================================================
 *  Header ( main BIG chapter )
 * ========================================================================== */
/* Header Nav Menu ( small chapter inside BIG one ) */
/*  //your code here

/* ========================================================================== */


/* вариант заканчивающего коммента: */


/* ============= /END Header ============================================================= */